

body{
    background-color: #a7e4ca;
}

footer{
    background-color: white;
}
/* .container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
} */
/* .navbar{
    top: 0;
} */

#banner{
    position: relative;
    padding: 0;
}

#banner img{
    max-height: 55vh;
    width: 100vw;
    object-fit: cover;
}

#overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 1;
    font-family: 'Yellowtail', cursive;
    color: black;
} 


blockquote{
    height: 30vw;
}


.sticky-lg-top-2{
    position: sticky;
    position: -webkit-sticky;
    top: 10000px;
}

.arrow{
    font-size: 7rem;
}
.arrow i{
    color: orangered;
}

#more-info{
    margin-top: 8rem;
}
