
<!-- facebook api -->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<div  class="comment_box" id="fb-root">
    <script 
        async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0&appId=155632189839227&autoLogAppEvents=1" 
        nonce="TkgfmOGl">
    </script>
    


    <div 
    class="fb-comments" data-href="https://webnanda.herokuapp.com"
        data-width="" data-numposts="15" data-mobile="true" data-order-by="social" >
    </div>
</div>