{% extends 'layout.html' %}

{% block head_content%}
 <title> Como ayudar </title>
{% endblock %}

{% block container %}
<!-- navbar -->
{% include 'nav.html' %}

<div class="container mt-3">
	<div class="row">
		<h1> Para inscribirte como donante</h1>
		<div class="col-6 m-2">
			<p>
				Dependerá del país o region en que vivas. 
				En algunos casos es tan sencillo como llenar un formulario en la web para inscribirte como candidato. 
				Posteriormente se contactaran contigo y te harán una cita para hacerte una prueba de perfil HLA. 
				Esta prueba consiste en la extracción de una pequeña muestra sanguinea del candidato y determinar su compatibilidad con el listado internacional de pacientes a la espera de un donante.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">


	<table class="table">
  	<thead>
		<tr>
			<th scope="col tex-center">Latinoamerica</th>
			<th scope="col tex-center">Otros paises</th>
		</tr>
	</thead>
  <tbody>
    <tr>
					
					<td>
						<a href="https://bethematch.org.mx/registro/" target="_blank" >
							Mexico 🇲🇽
						</a>
					</td>
						
					<td>
						<a href="https://bethematch.org/support-the-cause/donate-bone-marrow/" target="_blank">
							Estados Unidos 🇺🇸
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="https://www.argentina.gob.ar/donar-medula" target="_blank">
							Argentina 🇦🇷
						</a>
					</td>
					
					<td>
						<a href="https://www.blood.ca/en/stemcells/donating-stemcells/stemcell-eligibility-and-registration" target="_blank">
							Canadá 🇨🇦
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://redome.inca.gov.br/" target="_blank">
							Brasil 🇧🇷
						</a>
					</td>
					
					<td>
						<a href="http://medulaosea.ont.es/informacion/centros-de-informacion-y-referencia/" target="_blank">
							España 🇪🇸
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="https://www.indt.gub.uy/?S=quiero_donar" target="_blank">
							Uruguay 🇺🇾
						</a>
					</td>

					<td>Resto de Europa</td>
				</tr>
				<tr>
					<td></td>
					<td>Asia</td>
				</tr>
  </tbody>
</table>
	</div>	
</div>
{% endblock %}