{% extends'layout.html' %} 
{% block head_content%}
<title>Campanaña Nanda</title>
{% endblock %} 

{% block container %}

<header>
	<!-- banner -->
	<div class="container-fluid " id="banner">
		<img class="img-fluid" src="{{ url_for('static', filename='img/ilustracion ana ofelia yanez.jpg') }}" alt=" banner">
		<!-- overlay -->
		<div class="container" id="overlay">
			<div class="container">
        <div class="row mb-4 mb-sm-0"> 
          <div class="col-6 text-end">
            <h2>Hola. Yo soy</h2> 
          </div>
          <div class="col-6 text">
            <h1 class="display-2 fw-bold"> Alejandra</h1></p>
          </div>
          <div class="col-12 text-end d-none d-sm-block">
            <p> ilustracion:<br>Ana Ofelia Yanez</p>
          </div>
        </div>
      </div>
		</div>
	</div>
</header>
	<!-- nav bar -->
	{% include 'nav.html'%}
  



<section id="main-content">
  <div class="container" >
    <div class="row ">
      <div class="col-md-6 mt-5">
        <p class="fs-4 text">
          Tenía 30 años cuando me diagnosticaron
           Mieloma Múltiple que se convirtió en una
          <strong> Leucemia de células plasmáticas </strong>, una complicación
          que sólo se presenta entre el 2-4% de los casos.
        </p>
        <br>
        <p class="fs-5 text">
          Con esta campanaña busco <strong>promover la donación de médula ósea</strong>  y
          quitar un poco el miedo que supone, porque la mayoría de personas
          asocian la palabra "médula" con médula espinal y eso sí que suena
          doloroso, pero donar médula ósea es muy sencillo, casi tan simple
          como donar sangre, no es doloroso y estás salvando una vida.
        </p>
        <div class="col d-none d-md-block arrow text-center">
          <a href="#more-info">
            <i class="fas fa-chevron-down"></i>
          </a>
        </div>
        
      </div>
      <!-- instagram post 1 -->
      
      <div class="col-md-3 mt-3 offset-lg-1">
        <div class="post1">
          {% include 'post_1.html' %}
        </div>
      </div>
    </div>
  </div>
</section>


<section id="more-info">
  <div class="container mt-5">
    <div class="row" >
        <div class="col-md-6 col-lg-5">
          {% include 'post_2.html' %}
        </div>

        <div class="col-md-6">
          <p class="fs-5 textr">
            Aquí encontrarás toda la información para saber cómo hacerte donante
            y de cómo sería el procedimiento. También si quieres conocer un poco
            más sobre mi historia o si eres paciente con leucemia en mi misma
            situación, puedes escribirme, pues estoy creando un grupo de apoyo
            para que podamos motivarlos y tener ese rayito de luz y esperanza
            del cual engancharnos. Si estás aquí ya has dado el primer paso, así
            que <a class="btn btn-secondary" href="{{ url_for('how_to_help') }}">sigamos <i class="fas fa-hand-holding-medical" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
  </div>
</section>

          <!-- <p>
            
          </p>
          <p>
            Esto una campanaña para encontrar un donante de médula ósea
            compatible con Nanda. A pesar que vive en España donde la medicina
            es puntera en el mundo sus mayores posibilides estan en donantes
            latinos debido que tiene una carga proteica mas cercanas a ser
            compatibles con las de Nanda. Hola familia. la hermana de David (mi
            novio) está enferma tiene leucemia tiene 31 años y la única manera
            de salvarse es con un transplante de médula y debido a que es latina
            en el banco de pacientes europeo no hay donantes con su misma carga
            proteica, por lo que escribo es que se hagan donantes de médula no
            es un proceso invasivo ñ, es como si fueran a donar sangre(si llegan
            a ser compatibles) por favor tomen consciencia capaz en sus manos
            tengan la capacidad de salvar una vida. No tenemos cultura de donar
            pero se los pido como favor sólo les tomará 20 minutos ir a el
            centro más cercano o algun autobús de donación e inscribirse para
            DONANTE DE MÉDULA igualmente haremos una pagina para difundir es su
            única esperanza encontrar un donante
          </p> -->

          <!-- instagram post 2 -->
          {#
          <div class="container">
            <figure>{% include 'post_2.html' %}</figure>
          </div>
          #}
        </article>
      </div>
    </div>
  </div>
</div>
       
{% endblock %}
