<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-lg-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-end mb-2 mb-lg-0">
        <!-- inicio -->
        <li class="nav-item ms-2">
          <a class="nav-link {% if request.path =='/'%} active" aria-current="page {% endif %}" href="{{ url_for('index') }}">
            <span class="icon is-small">
              <i class="fas fa-clinic-medical" aria-hidden="true"></i>
            </span>
            <span>Alejandra</span>
          </a>
        </li>

        <!-- como ayudar -->
        <li class="ms-2 ms-lg-3 nav-item">
          <a class="nav-link {% if request.path =='/como-ayudar'%} active {% endif %}" href="{{ url_for('how_to_help') }}">
            <span class="icon is-small">
              <i class="fas fa-hand-holding-medical" aria-hidden="true"></i>
            </span>
            <span>Como ayudar</span>
          </a>
        </li>

        <!-- un poco mas de nanda -->
        <li class="nav-item ms-2">
          <a class="nav-link {% if request.path ==' '%} active {% endif %}" href="#">
            <span class="icon is-small">
              <i class="fas fa-book-medical" aria-hidden="true"></i>
            </span>
            <span>Un poco mas de Nanda</span>
          </a>
        </li>
      </ul>
    </div>  
  </div>
</nav>
